html, body {
  height: 100%;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;  /* main axis, horizontal */
  align-items: center; /* cross axis, vertical */
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url('../images/water0.png');
}

#ports {
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url('../images/port.png');
}

#ship {
  width: 128px;
  height: 64px;
  background-image: url('../images/ship.png');
  position: absolute;
}

#sailbutton {
  border: 0;
  background-color: #FB3640;
  color: black;
  font-family: inherit;
  padding: 10px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  
}

#message {
  border: 0;
  padding: 10px 20px;
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0;
  background-color: white;

}

#display {
  color: white;
  position: absolute;
  font-size: smaller;
  top: 16px;
  right: 16px;
}

#form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background-color: white;
  border: 2px solid #FB3640;
  flex-direction: column;
  top: 16px;
  left: 16px;
  position: absolute;
  font-size: smaller;
}
#label {
  margin: 5px 10px 5px 10px;
  padding: 10px;
  vertical-align: middle;
}

#input {
  vertical-align: middle;
  margin: 5px 10px 5px 10px;
  padding: 10px;
  background-color: white;
  border: 2px solid #FB3640;;
}
#portButton {
  margin: 5px 10px 5px 10px ;
  padding: 5px;
  background-color: #FB3640;
  color: black;
}







